VERIFACTU_DATABASE_URL="postgresql://postgres:postgres@localhost:5437/verifactu_db?schema=public"
VERIFACTU_PORT=3100
VERIFACTU_MODE=mock
VERIFACTU_REQUIRE_API_KEY=true
VERIFACTU_API_KEY=vf_dev_josanz_key
VERIFACTU_AEAT_ENDPOINT=https://prewww2.aeat.es/wlpl/TIKE-CONT/ws/SistemaFacturacion/VerifactuSOAP
VERIFACTU_AEAT_WSDL_URL=https://prewww2.aeat.es/static_files/common/internet/dep/aplicaciones/es/aeat/tikeV1.0/cont/ws/SistemaFacturacion.wsdl
VERIFACTU_SELLER_NIF=B00000000
VERIFACTU_SELLER_NAME=Verifactu Tenant

